body {
    background: linear-gradient(45deg, #ffffff, #c688eb);
}

.header {
    padding: 5px 120px;
    text-align: center;
    justify-content: center;
    width: 150px;
    height: 70px;
    background-color: #92B9E3; 
    border: 2px solid black;
    border-radius: 10px;
}

.border {
    padding: 80px 50px;
    width: 400px;
    height: 450px;
    border: none;
    border-radius: 50px;
    background-color: #6c7ee1;
}

.btn {
    padding: 10px 40px;
    background-color: #fba2d0; 
    color: black;
    font-style: oblique;
    font-weight: bold;
    border-radius: 10px;
}

.textbox {
    padding: 10px 40px;
    text-align: center;
    background-color: #ffc4a4; 
    color: #000000; /* Sửa lỗi từ 'text-color' thành 'color' */
    border: 2px solid black;
    border-radius: 10px;
}
     
::placeholder {
    background-color: transparent;
    color: #000000;
    opacity: 1;
    font-style: oblique;
    font-weight: bold;
}

.word {
    color: black;
    font-style: oblique;
    font-weight: bold;
}

.bottom {
    color: #0b030f;
    font-style: oblique;
    font-weight: bold;
}


